/* resert */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* debug */
    /* border: 2px solid black; */
}

/* titolo */
.title-section {
    color: red;
    font-size: 45px;
    text-align: center;
    font-family: "Josefin Sans", serif;
    padding: 40px;
}

/* fine titolo */
body{
    font-family: "Josefin Sans", serif;
}
/* paragrafo */
.test {
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
}

/* fine paragrafo */

/* setteggio immagine */
img {
    width: 100px;
    height: 100px;
}

/* fine setteggio immagine */

.col {
    display: flex;
    flex-wrap: wrap;
    width: calc(100 % 3);
}

.row {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.background {
    background-color: black;
    color: white;
    display: flex;
    width: 350px;
    margin: 20px;
}


.email {
    color: aqua;
}

.lista {
    margin: 7px 0px 7px 6px;
}


@media screen and (max-width:1024px) {
    .container {
        background-color: lightskyblue;
    }

}